.toolbar-container {
  height: 38px;
  margin-top: 8px;
  flex-grow: 1;
}

.toolbar-container .dropdown {
  margin-right: 8px;
}

@media only screen and (max-width: 767px) {
  .toolbar-container .dropdown {
    min-width: initial !important;
    width: 110px;
  }
}
