.export-toolbar-container {
  height: 38px;
  margin-top: 8px;
  flex-grow: 1;
}

.export-toolbar-container .button {
  float: right;
}

.left {
  float: left !important;
}

@media only screen and (max-width: 767px) {
  .export-toolbar-container .button {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
