.help-button {
  float: right;
}

.help-dialog {
  left: 50px !important;
  max-width: 95%;
  max-height: 80vh;
  width: 950px;
  height: 630px;
  overflow-y: scroll;
}

@media only screen and (max-width: 767px) {
  .help-dialog {
    max-width: 75vw !important;
    left: unset !important;
    right: 90px !important;
    top: 50px !important;
  }
}
